<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_SQL_for_Data_Analysis/blob/master/Lesson_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LEFT & RIGHT Quizzes
#In the accounts table, there is a column holding the website for each company. The last three digits specify what type of web address they are using. 
#Pull these extensions and provide how many of each website type exist in the accounts table.
SELECT RIGHT(website,3) AS website_extension,COUNT(*)
FROM accounts
GROUP BY 1;

#Use the accounts table to pull the first letter of each company name to see the distribution of company names that begin with each letter (or number).
SELECT LEFT(UPPER(name),1) AS name_start,COUNT(*)
FROM accounts
GROUP BY 1;

#Use the accounts table and a CASE statement to create two groups: one group of company names that start with a number and a 
#second group of those company names that start with a letter. 
SELECT SUM(num) nums, SUM(letter) letters
FROM (SELECT name, CASE WHEN LEFT(UPPER(name), 1) IN ('0','1','2','3','4','5','6','7','8','9') THEN 1 ELSE 0 END AS num, 
      CASE WHEN LEFT(UPPER(name), 1) IN ('0','1','2','3','4','5','6','7','8','9') THEN 0 ELSE 1 END AS letter
      FROM accounts);

#Consider vowels as a, e, i, o, and u. What proportion of company names start with a vowel?
SELECT SUM(vowels) vowels, SUM(other) other
FROM (SELECT name, CASE WHEN LEFT(UPPER(name), 1) IN ('A','E','I','O','U') THEN 1 ELSE 0 END AS vowels, 
      CASE WHEN LEFT(UPPER(name), 1) IN ('A','E','I','O','U') THEN 0 ELSE 1 END AS other
      FROM accounts)

 ## 80/351 companies have names that start with vowels.

In [ ]:
#Quizzes POSITION & STRPOS
#Use the accounts table to create first and last name columns that hold the first and last names for the primary_poc.
SELECT LEFT(primary_poc, STRPOS(primary_poc, ' ') -1 ) first_name, RIGHT(primary_poc, LENGTH(primary_poc) - STRPOS(primary_poc, ' ')) last_name
FROM accounts;

#Now see if you can do the same thing for every rep name in the sales_reps table. Again provide first and last name columns.
SELECT LEFT(name, STRPOS(name, ' ') -1 ) first_name, RIGHT(name, LENGTH(name) - STRPOS(name, ' ')) last_name
FROM sales_reps;