<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_SQL_for_Data_Analysis/blob/master/Lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Subqueries
#We want to find the average number of events for each day for each channel. The first table will provide us the number of events for each day and channel, 
#and then we will need to average these values together using a second query.
SELECT channel,AVG(event_count) avg_event_count
FROM (
SELECT DATE_TRUNC('day',occurred_at) day_occured,channel,COUNT(*) event_count
FROM web_events
GROUP BY 1,2
) sub
GROUP BY 1

In [ ]:
#Pull the first month/year combo from the orders table
#Find orders that took place in the same year/month combo and the average quantities of each type of paper
SELECT AVG(standard_qty) avg_std, AVG(gloss_qty) avg_gls, AVG(poster_qty) avg_pst,SUM(total_amt_usd)
FROM orders
WHERE DATE_TRUNC('month',occurred_at)= 
     (SELECT DATE_TRUNC('month',MIN(occurred_at)) month_occured
FROM orders)