<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_SQL_for_Data_Analysis/blob/master/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Using ALIAS
#Provide a table for all web_events associated with account name of Walmart. There should be three columns. 
#Be sure to include the primary_poc, time of the event, and the channel for each event. 
SELECT a.primary_poc,w.occurred_at,w.channel
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
WHERE a.name = 'Walmart';

#Provide a table that provides the region for each sales_rep along with their associated accounts. Your final table should include three columns: the region name, 
#the sales rep name, and the account name. Sort the accounts alphabetically (A-Z) according to account name.
SELECT r.name region, s.name rep, a.name account
FROM sales_reps s
JOIN region r
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
ORDER BY a.name;

#Provide the name for each region for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. 
#Your final table should have 3 columns: region name, account name, and unit price. A few accounts have 0 for total, 
#so I divided by (total + 0.01) to assure not dividing by zero.
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id;