<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_SQL_for_Data_Analysis/blob/master/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Provide the name for each region for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. 
#However, you should only provide the results if the standard order quantity exceeds 100. 
#Your final table should have 3 columns: region name, account name, and unit price. 
#In order to avoid a division by zero error, adding .01 to the denominator here is helpful total_amt_usd/(total+0.01).
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100;

#Provide the name for each region for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. 
#However, you should only provide the results if the standard order quantity exceeds 100 and the poster order quantity exceeds 50. 
#Your final table should have 3 columns: region name, account name, and unit price. Sort for the smallest unit price first.
# In order to avoid a division by zero error, adding .01 to the denominator here is helpful (total_amt_usd/(total+0.01).
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100 AND o.poster_qty > 50
ORDER BY unit_price;

#Provide the name for each region for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. 
#However, you should only provide the results if the standard order quantity exceeds 100 and the poster order quantity exceeds 50. 
#Your final table should have 3 columns: region name, account name, and unit price. Sort for the largest unit price first. 
#In order to avoid a division by zero error, adding .01 to the denominator here is helpful (total_amt_usd/(total+0.01).
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100 AND o.poster_qty > 50
ORDER BY unit_price DESC;