<a href="https://colab.research.google.com/github/Abinaya-J/Udacity_SQL_for_Data_Analysis/blob/master/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SELECT and FROM in Every SQL Query
#Every query will have at least a SELECT and FROM statement. The SELECT statement is where you put the columns for which you would like to show the data. The FROM statement is where you put the tables from which you would like to pull data.

#Your Turn
#Try writing your own query to select only the id, account_id, and occurred_at columns for all orders in the orders table.

SELECT id,account_id,occurred_at
FROM orders;

#Try using LIMIT yourself below by writing a query that displays all the data in the occurred_at, account_id,
#and channel columns of the web_events table, and limits the output to only the first 15 rows.

SELECT occurred_at,account_id,channel
FROM web_events
LIMIT 15;

In [ ]:
#Questions: GROUP BY Part II
#For each account, determine the average amount of each type of paper they purchased across their orders. 
#Your result should have four columns - one for the account name and one for the average quantity purchased for each of the paper types for each account.
SELECT a.name, AVG(o.standard_qty) avg_standard, AVG(o.gloss_qty) avg_gloss, AVG(o.poster_qty) avg_poster
FROM accounts a
JOIN orders o
ON a.id = o.account_id
GROUP BY a.name;

#For each account, determine the average amount spent per order on each paper type. 
#Your result should have four columns - one for the account name and one for the average amount spent on each paper type.
SELECT a.name, AVG(o.standard_amt_usd) avg_standard_usd, AVG(o.gloss_amt_usd) avg_gloss_usd, AVG(o.poster_amt_usd) avg_poster_usd
FROM accounts a
JOIN orders o
ON a.id = o.account_id
GROUP BY a.name;

#Determine the number of times a particular channel was used in the web_events table for each sales rep. 
#Your final table should have three columns - the name of the sales rep, the channel, and the number of occurrences. 
#Order your table with the highest number of occurrences first.
SELECT s.name, w.channel, COUNT(*) num_channel_used
FROM accounts a
JOIN web_events w
ON a.id = w.account_id
JOIN sales_reps s
ON s.id = a.sales_rep_id
GROUP BY s.name, w.channel
ORDER BY num_events DESC;

#Determine the number of times a particular channel was used in the web_events table for each region. 
#Your final table should have three columns - the region name, the channel, and the number of occurrences. 
#Order your table with the highest number of occurrences first.
SELECT r.name, w.channel, COUNT(*) num_channel_used
FROM accounts a
JOIN web_events w
ON a.id = w.account_id
JOIN sales_reps s
ON s.id = a.sales_rep_id
JOIN region r
ON r.id = s.region_id
GROUP BY r.name, w.channel
ORDER BY num_events DESC;